.hero {
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.container {
  /* border: 1px solid red; */
  width: 90vw;
  height: 60vh;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='6' stroke-dasharray='20%2c 10' stroke-dashoffset='9' stroke-linecap='square'/%3e%3c/svg%3e");
}
