.tabs {
  height: 10vh;
  border-bottom: 2px solid black;
  display: flex;
  align-items: flex-end;
  font-size: 2.5rem;
  letter-spacing: -0.1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.tabs span {
  margin: 0 1rem;
}

.tabs a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

@media only screen and (max-width: 450px) {
  .program {
    font-size: 1.4rem;
    margin: 60px 0 0 1rem;
    text-transform: uppercase;
  }

  .tabs {
    height: 5vh;
    font-size: 1.2rem;
  }

  .movies {
    padding: 1.5rem;
  }

  .movies a {
    flex: 1 1 33.33333%;
  }
}
