.programs {
  height: 10vh;
  border-bottom: 2px solid black;
  display: flex;
  align-items: flex-end;
  font-size: 2.5rem;
  padding-left: 2rem;
}

.programs span {
  margin: 0 2rem;
}

.programs a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

@media only screen and (max-width: 450px) {
  .programs {
    font-size: 1.5rem;
    justify-content: center;
    padding: 0;
  }

  .movies {
    padding: 1.5rem;
  }

  .movies a {
    flex: 1 1 33.33333%;
  }
}
